@charset "UTF-8";

/*
    em HTML é -> id        em CSS é  -> # (somente um elemento por pagina)
    em HTML é -> class     em CSS é  -> . (varios elementos)
*/

body    {
    background-color: #7AE67B;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #224022;
}

h1#principal {
    text-align: center;
    background-color: #65BF67;
    color: white;
}

h2 {
    color: #448045;
}

.basico {
    color: rgb(60, 102, 60);
}

.intermediario {
    color: rgb(128, 129, 66);
}

.avancado {
    color: rgb(102, 60, 60);
}

.destaque {
    background-color: rgba(219, 219, 100, 0.651);
}