@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --font1:verdana, geneva, tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}
body {
    min-height: 100vh;
    background-color: rgb(180, 180, 180);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    /*text-transform: uppercase;*/
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 4em;
}
header > p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 6vh;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
}

section.imagem {
    background-color: rgb(73, 73, 73);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.486);
    background-attachment: fixed;
}
section.imagem > p {
    display: inline-block;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.486);
}

section#img01 {
    background-image: url('imagens/background001.jpg');
    background-position: right center;
}

section#img02 {
    background-image: url('imagens/background002.jpg');
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}