@charset "UTF-8";


* {
    margin: 0px;
}

body {
    background-color: white;
}

header {
    text-align: center;
    background-color: black;
    color: white;
}

main {
    border: 1px solid black;
}

main p {
    border: 1px dashed black;
}