@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #04D9B2, #04D98B);
}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(3, 101, 140, 0.103);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #04B2D9;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(5, 127, 175, 0.315);
}

h2 {
    color: #011C40;
}

p {
    text-align: justify;
}
